<div class="row">
    <div class="col-md-12">
      <ul class="footer-nav">
        <li><a href="{{ url_for('main.who') }}">Who we are</a></li>
        <span class="horizontal-bar">&#151;</span><li><a href="{{ url_for('main.what') }}">What we do</a></li>
        <span class="horizontal-bar">&#151;</span><li><a href="{{ url_for('main.news') }}">News & Events</a></li>
        <span class="horizontal-bar">&#151;</span><li><a href="{{ url_for('main.where') }}">Where we work</a></li>
        <span class="horizontal-bar">&#151;</span><li><a href="{{ url_for('main.contact') }}">Contact us</a></li>
      </ul>
    </div>
  </div> <!-- End nav bar footer links row -->
  <div class="row">
    <div class="col-md-12">
      <p class="copyright"><a href="">©2009 Nielsen, Zehe & Antas, P.C.</a><span class="span-spacing">//</span><a href="">Website Design by OneTen Creative</a></p>
    </div>
  </div> <!-- End copyright row -->