<main>
    <div class="row">
      <div class="col-md-8">
        <img src="{{ url_for('static', filename='images/nza_slideshow.jpg') }}" alt="Trees" />
      </div> <!-- End image col -->
      <div class="my-col-md-3">
        <div class="side-bar" id="style-01">
          <h5>News Feed</h5>
          <p>Jeffrey Zehe and Frank DeBoni obtained dismissal of two Japanese corporations after challenging personal jurisdiction in the Circuit Court of Cook County, Law Division.<br/><br/>Robert Lentz settled a building collapse claim in Roswell NM stemming from winter storm Goliath for policy limits.<br/><br/>Dominick Savaiano was nominated for the Lifetime Achievement award among America's Top 100 Attorneys® for Illinois.<br/><br/>In a 1983/Title IX claim brought against an Illinois school district and its administrators, Robert</p>
        </div>
      </div> <!-- End side bar -->
    </div> <!-- End first row with image and content -->
    <div class="row top-margin">
      <div class="col-md-8">
        <h6>Welcome to our website!</h6>
        <p>Nielsen, Zehe & Antas, PC is a nationally recognized and respected law firm that offers its clients big firm experience and talent in a smaller firm environment. Our reputation is very important to us. We solve our client’s problems in some situations and prevent them all together in other situations. We welcome you to our website to learn more about us.</p>
      </div>
      <div class="my-col-md-3 company-info">
        <p><span class="company-name">Nielsen, Zehe & Antas, P.C.</span><br/>
        55 West Monroe Street, Suite 1800<br/>
        Chicago, Illinois 60603<br/>
        312-322-9900 phone<br/>
        312-322-9977 fax<br/>
        <span class="email-link"><a href="mailto:ENielsen@nzalaw.com">ENielsen@nzalaw.com</a></span></p>
      </div>
    </div> <!-- End second row of main content -->
  </main>