<a href="default.asp" class="login">LOGIN | REGISTER</a>
    <br>
<a href="index.html"><img class="logo" src="http://placehold.it/318x76" alt="Logo" /></a>
<nav>
    <ul>
        <li><a href="whoweare.html">Who we are</a></li>
        <span class="vert-bar">&#124;</span>
        <li><a href="what.html">What we do</a></li>
        <span class="vert-bar">&#124;</span>
        <li><a href="news.html">News & Events</a></li>
        <span class="vert-bar">&#124;</span>
        <li><a href="where.html">Where we work</a></li>
        <span class="vert-bar">&#124;</span>
        <li><a href="contact.html">Contact us</a></li>
    </ul>
</nav>