{% if not current_user.is_authenticated %}
    <div class="login">
        <a href="{{ url_for('account.login') }}">LOGIN</a> | <a href="{{ url_for('account.register') }}">REGISTER</a>
            <br>
    </div>
{% else %}
    <div class="login">
        <a href="{{ url_for('account.logout') }}">Logout, {{ current_user.email }}</a>
            <br>
    </div>
{% endif %}
<a href="{{url_for('main.home') }}"><img class="logo" src="http://placehold.it/318x76" alt="Logo" /></a>
<nav>
    <ul>
        <li><a href="{{ url_for('main.who') }}">Who we are</a></li>
        <span class="vert-bar">&#124;</span>
        <li><a href="{{ url_for('main.what') }}">What we do</a></li>
        <span class="vert-bar">&#124;</span>
        <li><a href="news.html">News & Events</a></li>
        <span class="vert-bar">&#124;</span>
        <li><a href="{{ url_for('main.where') }}">Where we work</a></li>
        <span class="vert-bar">&#124;</span>
        <li><a href="{{ url_for('main.contact') }}">Contact us</a></li>
    </ul>
</nav>