<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Flask Law</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <header>
                    {% include './partials/nav.html' %}
                </header>
            </div>
        </div> <!-- End header row -->

        <!-- Start main content -->
        <div class="row">
            <div class="md-col-12">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% if home_page %}
                    {% include './partials/home_page.html' %}
                {% else %}
                <main>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="small-side-bar">
                                {% block sidebar %}{% endblock %}
                            </div> <!-- End side bar div -->
                        </div> <!-- End side bar columns -->
                        <div class="col-md-9">
                            {% block content %}{% endblock %}
                        </div> <!-- End columns for content col-9 -->
                    </div> <!-- End row for main content -->
                </main>
                {% endif %}
                <footer class="add-margin-top">
                    {% include './partials/footer.html' %}
                </footer>
            </div>
        </div> <!-- End section row -->
    </div> <!-- End wrapper -->

    <!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>