{% extends 'layout.html' %}

{% block sidebar %}
    <h5><a href="{{ url_for('account.register') }}">Register</a></h5>
{% endblock %}

{% block content %}
    <h1>Register</h1>
    <hr>
    <div class="row">
    <div class="col-md-4">
        <form action="{{ url_for('account.register') }}" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
{% endblock %}